<footer>
    <section class="contact">
        <div class="contact-info">
            <div class="first-info">
                <img src="img/home/logo.png" alt="">

                <p>3245 Grant Street Longview, <br> Pernambuco Brasil - 50080-000</p>
                <p>81 983 511 451</p>
                <p>Trevo.co@gmail.com</p>

                <div class="social-icon">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>

            <div class="second-info">
                <h4>Suporte</h4>
                <p>Contate-Nos</p>
                <p>Sobre A Página</p>
                <p>Guia De Tamanho</p>
                <p>Compras E Devoluções</p>
                <p>Privacidade</p>
            </div>

            <div class="third-info">
                <h4>Comprar</h4>
                <p>Unisex</p>
                <p>Masculina</p>
                <p>Desconto</p>
            </div>

            <div class="fourth-info">
                <h4>EMPRESA</h4>
                <p>Sobre</p>
                <p>Blog</p>
                <p>Afiliado</p>
                <p>Conecte-Se</p>
            </div>

        </div>
    </section>

    <div class="end-text">
        <p>Copyright © @2023. Todos os direitos reservados. Projetado por GrP Future.</p>
    </div>
</footer>