<table>
    <td><a href="/">home - </a></td> 
    <td><a href="/admin/produtos">produtos - </a></td>
    <td><a href="/login">login - </a></td>
    <td><a href="/admin/painel">painel - </a></td>
    <td><a href="/pedidos">pedidos - </a></td>
    <td><a href="/pagamento">pagamento - </a></td>
    <td><a href="/admin/addProduto">adicionar produto - </a></td>


</table>