<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>adicionar Produto</h1>
    <br>
    <form action="/produtos/save" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="nome do produto " name="nome"><br>
        <input type="number" placeholder="preço " name="preco"><br>
        <input type="text" placeholder="descrição " name="desc"><br>
        <input type="file" placeholder="foto do produto " name="foto">

        <br><br>
        <button >adicionar produto</button>
    </form>


</body>
</html>